* {
	margin: 20px;
	padding: 0px;
}
body {
	background: -webkit-linear-gradient(pink,yellow);
	color: #000;
}
h1 {
	font-size: 50px;
	text-align: center;
}
h2 {
	font-size: 50px;
	text-align: center;
}
p {
	font-size: 30px;
}
li {
	font-size: 20px;
}
caption {
	font-size: 30px;
	text-align: center;
}
th {
	font-size: 20px;
	text-align: center;
}
tr {
	font-size: 20px;
	text-align: center;
}
p {
	text-align: center;
}